body{
	background-color:white;
	margin: 0;
	padding: 0;
}

hr{
	
	margin-top:500px;
}
#img{
	margin-top:90px;
	margin-left:200px;
	border-radius: 250px;
	position:absolute;
	height:260px;
	width:260px;
}
#face{
	margin-top:280px;
	margin-left:505px;
	height:32px;
	width:32px;
	position:absolute;
}

#insta{
	margin-top:280px;
	margin-left:555px;
	height:32px;
	width:32px;
	position:absolute;
}

#font{
	margin-top:140px;
	margin-left:500px;
	font-family: Century Gothic;
	font-size: 50;
	position:absolute;
	color:#909090;
}

#font2{
	margin-top:195px;
	margin-left:500px;
	font-family:Century Gothic;
	font-size:60;
	position:absolute;
	font-weight:bold;
	color:#7c6c93;
}

#font3{
	font-family: Calibri Light;
	font-size:20;
	color:grey;
}


#table1{
	border-collapse: collapse;
	margin-top:450px;
	margin-left:180px;
	position: absolute;
}

#table2{
	margin-top:600px;
	margin-left:60px;
	border-collapse: collapse;
	border-color:#F6F6F6;
	font-family: Calibri Light;
	font-size:20;
	color:grey;
	width:90%;
	position: absolute;
}
#td1{
	font-weight:bold;
	text-align: center;
	width:40%;
}
#td2{
	text-align:justify;
	width:50%;
}
#img2{
	text-align:center;
	height:120px;
	width:120px;
}
#font4{
	font-weight:bold;
	background-color:#F6F6F6;
	text-align:center;
	margin-top:4190px;
	margin-left:460px;
	font-family: Calibri Light;
	font-size:50;
	color:grey;
	position:absolute;
}

#font5{
	text-align:center;
	margin-top:4650px;
	margin-left:410px;
	font-family: Calibri Light;
	font-size:20;
	color:grey;
	position:absolute;
}

iframe{
	margin-top:4290px;
	position:absolute;
}
#if1{
	margin-top:4290px;
	margin-left:250px;
	position:absolute;
}
#if2{
	margin-top:4290px;
	margin-left:500px;
	position:absolute;
}
#if3{
	margin-top:4290px;
	margin-left:750px;
	position:absolute;
}
#if4{
	margin-top:4290px;
	margin-left:1000px;
	position:absolute;
}